<div class="container">

  <h1>Welcome to your fabulous shortening URL thingy!</h1>
  <% if !@new_secret.nil? %>
    <p>Here is your super short and succint new URL: <%= @new_secret %></p>
  <% end %>
  <% if @errors%>
    <% if !@errors.empty?%>
      <p><%= "Oops, looks like we had a problem: #{@errors[:full_url] }" %></p>
    <% end %>
  <% end %>
  <form action='/urls' method='post'>
    URL to shortify: <input type='text' name='new'><br><br>
    <input type='submit' value='AWESOME BUTTON'>
  </form>

  <ul>
  <% @all_urls.each do |link| %>
    <li><%= "Link: #{link.full_url}, Shortened: #{link.shortened_url}, Times Visited: #{link.click_counter}" %></li>
  <% end %>
  </ul>

</div>
